main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 1600px;
    width: 100%;
    min-height: 1000px;
    height: 100vh;
    text-align: center;
}


#tooltip{
    position: absolute;
    display: inline-block;
    visibility: hidden;
    padding: 10px;
    border-radius: 10%;
    font-size: 20px;
    background-color: black;
    opacity: .8;
    color: white;
}

#tooltip p{
    margin: 0 5px;
    padding: 2px 10px;
}

#x-axis, #y-axis, #legend-axis{
    font-size: 16px;
}

#x-label, #y-label{
    font-size: 24px;
}


/*Colors  */

.navy{
    fill: #001f3f;
}

.olive{
    fill: #3D9970;
}

.blue{
    fill: #0074D9;
}

.teal{
    fill: #39CCCC;
}

.aqua{
    fill: #7FDBFF;
}

.yellow1{
    fill: #FFDC00;
}

.yellow2{
    fill: rgb(207, 207, 79);
}

.orange{
    fill: #FF851B;
}

.red1{
    fill: #FF4136;
}

.red2{
    fill: rgb(182, 47, 40);
}

.red3{
    fill: rgb(110, 22, 18);
}